
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.headerAndMainSec{
    display: flex;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    color:#F0F7CE ;
    margin-right: 20px;
    height: 100vh;
    background-color:#23262c;
    box-shadow: #242c3b  1px 10px 20px;
    padding: 0 20px;
}

.header h1{
    margin-top: 10px;
}
.roundContainer{
    display: inline-block;
    position: relative;
    margin-top: 20px;
    width: 200px;
    height: 40%;
    overflow: hidden;
    border: 9px solid #454b56 ;
    border-radius: 50%;
    background-color:  #242c3b ;
}
.shortImg{
    height: 100%;
    max-width: 100%;
    margin-left: 50px;
}

.socialMediaIcons{
    display: flex;
    justify-content:space-around;
    width: 100%;    
    margin-top: 30px;
}
.socialMediaIcons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background-color: #454b56;
    color:#F0F7CE ;
    text-decoration: none;
    border-radius: 50%;
    transition: 1.5s;
}
.socialMediaIcons  :hover{
    color:#0a75ad
}
.navBar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    width: 100%;
    margin: 15px 0;
    padding-left: 10px;
    
}
.navBar a {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#F0F7CE ;
    text-decoration: none;
    height: 20%;
    width: 20%;
    font-size: x-large;
    /* transition: 5s; solucionar tema de transicion */
}

.navBar a :hover{
    color:#0a75ad
}

header button {
    padding: 12px 30px;
    border-radius: 3%;
    border: none;
    background-color: #172120;
    font-weight: bold;
    color: #F0F7CE;
    cursor: pointer;
    transition: 1s;
    margin-bottom: 7px;
}

header button:hover{
    background-color: #243331;
}
