
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.headerAndMainSec{
    display: flex;
}

/* Side-navBar block */
.profile{
    border-bottom: 2px solid rgb(54, 53, 53) ;
    padding-bottom: 0.6rem;
    margin-bottom: 1.2rem;
}
.header{
    top: 0;
    height: 100vh;
    width: 16.35rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    color:#F0F7CE ;
    margin-right: 20px;
    background-color:#23262c;
    box-shadow: rgb(1, 1, 1)  1px 0px 20px;
    padding: 0 20px;
}

.headerFistSection h1{
    margin-top: 10px;
}
.roundContainer{
    display: inline-block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border: 0.5rem solid #454b56 ;
    border-radius: 50%;
    background-color:  #242c3b ;
    
}
.shortImg{
    height: 100%;
    max-width: 100%;
    margin-left: 50px;
}

.socialMediaIcons{
    display: flex;
    justify-content:space-around;
    width: 100%;    
    margin-top: 2rem;
}
.socialMediaIcons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.3rem;
    background-color: #454b56;
    color:#F0F7CE ;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
}
.socialMediaIcons :hover{
    color:#0a75ad
}

.navBarAndBtn{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navBar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75%;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(54, 53, 53) ;
    margin-bottom: 0.6rem;
    transition: 1s;
}
.navBar a {
    color:#a6a7a0 ;
    text-decoration: none;
    width: 100%;
    font-size: x-large;
}

.navBar a div, i{
    transition: 0.5s;
}

.navBar a :hover i{
    color:#0a75ad
}

.navBar a :hover span{
    color:#fff ;
}

.navBar a i{
    width: 2rem;
}

.navBar span{
    
    margin-left: 0.3rem;
}

header button {
    padding: 12px 30px;
    border-radius: 3%;
    border: none;
    background-color: #172120;
    font-weight: bold;
    color: #F0F7CE;
    cursor: pointer;
    transition: 1s;
    margin-bottom: 0.5rem;
}

header button:hover{
    background-color: #243331;
}
/* side-navBar block ends */

/* Main Section block */
main{
    width: 100%;
    margin-left:16.35rem;
    background-color: #23262c;
    color: #fff;
    
}

main section {
    border-bottom: 2px solid rgb(54, 53, 53) ;
    margin-left: 2rem;
}

main section:first-child{
    height: 100vh;
}

main section .sectionTitle{
    margin-top: 1rem;
}
/* Main Section block ends*/

/* home section block */
.home{
    background: linear-gradient(rgba(30, 31, 38, 0.60), rgba(30, 31, 38, 0.60)),
    url(https://images5.alphacoders.com/876/876590.png);
    background-attachment: fixed;
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.home h2, h4 {
    color: #F0F7CE;
    font-size: xxx-large;
    margin-left: 25%;
}

.home h4{
    font-weight: lighter;
}
/* home section block ends*/

/* about section block */
.about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about h2, p, h3, h5{
    margin-bottom: 1rem;
}

section div img {
    width: 20rem;
    margin-right: 3rem;
}

.about ul li {
    margin-right: 2rem;
    /* padding-bottom: 1rem; */
    padding-bottom: 20px;
}
.imgAndSkillUl{
    display: flex;
}

.personalInfoUl{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 15p;
    height: 40%;
    list-style: none;
}
/* poner color a los iconos del portal */
.personalInfoUl li i{
    margin-right: 0.3rem;
}

.personalInfoUl strong{
    margin-right: 0.3rem;
}


/* education sub-section block */
.educationUl{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    margin-bottom: 1rem;
}

.educationUl .liContentainer{
    position: relative;
    width: 40%;
    padding-left: 2rem;
    border-left: 1px solid green;
}

.educationUl .liContentainer::before{
    content: "";
    display: flex;
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0;
    left: -0.65rem;
    border-radius: 50%;
    background: #23262c;
    border: 0.1rem solid green;
}

.educationUl ul{
    list-style: disc;
}
/* education sub-section block ends*/

/* about section block ends*/

/* Skills section block */

    

/* Skills section block ends */

